<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <img src="http://localhost/nutritionist.png">
    <span class="logoname">{{"Toolbar.FitproInc"|translate}}</span><br>
    
    <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="translate">
      <mat-icon>translate</mat-icon>
    </button>
    
    <mat-menu #languageMenu="matMenu" class="language-icon">
      <ng-container *ngFor="let x of languages">
        <button mat-menu-item (click)="changeLang(x.value)">{{x.name}}</button>
      </ng-container>
    </mat-menu>
    

    <a mat-icon-button routerLink="/login" class="logout-icon">
      <mat-icon>logout</mat-icon>
    </a >

    <button mat-icon-button class="menu" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="home()">
        <mat-icon>house</mat-icon>
        <span>{{"Toolbar.Home"|translate}}</span>
      </a>
      <a mat-menu-item routerLink="/dietpage">
        <mat-icon>assignment</mat-icon>
        <span>{{"Toolbar.Dietplans"|translate}}</span>
      </a>
      <a mat-menu-item routerLink="/suggestionspage">
        <mat-icon>assistant</mat-icon>
        <span>{{"Toolbar.Suggestions"|translate}}</span>
      </a>
      <a mat-menu-item routerLink="/owndietpage">
        <mat-icon>noteadd</mat-icon>
        <span>{{"Toolbar.CreateDiet"|translate}}</span>
      </a>
      <a mat-menu-item routerLink="/forumpage">
        <mat-icon>forum</mat-icon>
        <span>{{"Toolbar.Forum"|translate}}</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
