img{
    width: 40px;
    height: 40px;
    margin:0px 10px 0px 10px;
}
.menu{
    margin-left:10px;
}
.toolbar{
    background-color: #2dcc70;
    margin-top: 0px;
}
.logoname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    max-width:100px;
}
.translate{
    margin-left: 72%;
}
.language-icon{
    width: 50px;
    height: 50px;
    color: black;
    margin-left: 10px;
}
.logout-icon{
    color: black;
    margin-left: 10px;
}
.options{
    padding-left: 10px;
}