<div class="admin">
    <a routerLink="/add-response">
      <mat-card class="add">
        <mat-card-header>
          <mat-icon class="card-icon">list_alt</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <h2>Responses</h2>
        </mat-card-content>
      </mat-card>
    </a>
  
    <a routerLink="/add-product">
      <mat-card class="add">
        <mat-card-header>
          <mat-icon class="card-icon">add_shopping_cart</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <h2>Products</h2>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
  <img src="http://localhost/adminlogo.jpg">
  <button mat-raised-button color="primary" routerLink="/login">Logout</button>
  